<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <title>About</title>
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
       
    </div>
     {{>footer}}
</body>

</html>