<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <title>Weather</title>
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    
   
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="">
            <input placeholder="Location" type="" name="" id="">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}


    <script src="/js/app.js"></script>
</body>

</html>